:root {
	--bg-color: rgb(20, 20, 20);
	--card-color: rgb(23, 23, 23);
}

body {
	align-items: center;
	background-color: var(--bg-color);
	display: flex;
	height: 100vh;
	justify-content: center;
	margin: 0px;
	overflow: hidden;
	padding: 0px;
}

#cards {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	max-width: 916px;
	width: calc(100% - 20px);
}

#cards:hover > .card > .card-border {
	opacity: 1;
}

.card {
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	height: 260px;
	flex-direction: column;
	position: relative;
	width: 300px;
}

.card:hover::before {
	opacity: 1;
}

.card::before,
.card > .card-border {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	border-radius: inherit;
	opacity: 0;
	transition: opacity 500ms;
}

.card::before {
	background: radial-gradient(
		800px circle at var(--mouse-x) var(--mouse-y),
		rgba(255, 255, 255, 0.06),
		transparent 40%
	);
	z-index: 3;
}

.card > .card-border {
	background: radial-gradient(
		400px circle at var(--mouse-x) var(--mouse-y),
		rgba(255, 255, 255, 0.3),
		transparent 40%
	);
	z-index: 1;
}

.card > .card-content {
	background: var(--card-color);
	border-radius: inherit;
	height: calc(100% - 2px);
	width: calc(100% - 2px);
	margin: 1px;
	position: relative;
	z-index: 2;
}
